/* Star Selector (Selects every element in the HTML file) */
*{
    /* includes the padding and border when setting a width or height for an element*/
    box-sizing: border-box;
}

body {
    background-color: #6495ed;
    color: #eef1ef;
    /* Flexbox is used here to center the div with the id of container vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Setting the height to 100vh so the div will be centered vertically in the browser window (aka viewport) */
    height: 100 vh;
    /* Adding padding to the body element so the div container is not right up against the edge of the viewport on smaller screen sizes*/
    padding: 25px;
}

h2 {
    /*top right/left bottom */
    margin: 10 px 0 20px;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    background-color: #6495ed;
    /* Removes the default button border */
    border: none;
    /* Buttons do NOT inherit text color. Must apply a new text color directly to the element. */
    color: #eef1ef;
    /* Changes the cursor when hovering over a button */
    cursor: pointer;
    padding: 8px 12px;

}

.option {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

}

#container {
    background-color: #639;
    padding: 15px;
    width: 350px;
    border-radius: 15px;
}

#result-container {
    background-color: #243119;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 5px 10px 10px;
    /*flex used to position the span and button elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#clipboard {
    font-size: 20px;
}

#generate {
    font-size: 16px;
    width: 100%;
    text-transform: uppercase;
}